<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Dating App</a>

    <ul *ngIf="loggedIn()" class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item active">
        <a class="nav-link" aria-current="page" href="#">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"
          >Messages</a
        >
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{authService.docodedToken?.unique_name | titlecase}}
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" href="#">
          <i class="fa fa-user"></i>Edit Profile</a
        >
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"
          ><i class="fa fa-sign-out"></i> Logout</a
        >
      </div>
    </div>

    <form
      *ngIf="!loggedIn()"
      #loginForm="ngForm"
      class="d-flex"
      (ngSubmit)="login()"
    >
      <input
        class="form-control me-2"
        type="search"
        name="username"
        placeholder="Username"
        required
        [(ngModel)]="model.username"
      />
      <input
        class="form-control me-2"
        type="password"
        name="password"
        placeholder="Password"
        required
        [(ngModel)]="model.password"
      />
      <button
        [disabled]="!loginForm.valid"
        class="btn btn-success"
        type="submit"
      >
        Login
      </button>
    </form>
  </div>
</nav>
